<div class="search-group">
  <asset-search-filter-dropdown class="dropdown dropdown-scale"></asset-search-filter-dropdown>
  <!--<asset-search-filter-dropdown></asset-search-filter-dropdown>-->
  
	<div class="search-input">
		<input type="text" class="form-control" placeholder="Search licenses">
		<button type="submit" class="nofocus"></button>
		<button type="button" class="nofocus"></button>
	</div>

	<div class="filters m-t-1">
		<div class="label label-default">Default
			<a class="close" href="#" data-dismiss="label"></a>
		</div>
	</div>
</div>