<form>
    <h3 class="visible-print-block">Overview</h3>
    <div>
        <dl class="dl-horizontal m-b-1">
            <dt>Code</dt>
            <dd>{{objAssetModel.Code}}</dd>

            <dt>Name</dt>
            <dd>Myakuja A</dd>

            <dt>Type</dt>
            <dd>{{objAssetModel.TypeDescription}}</dd>

            <dt>Status</dt>
            <dd>{{objAssetModel.StatusDescription}}</dd>

            <dt>Owner</dt>
            <dd>Peter Janali Mutie</dd>
        </dl>

        <dl class="dl-horizontal m-b-1">
            <dt>Application date</dt>
            <dd>09/05/1995 at 15:37:03</dd>

            <dt>Granted date</dt>
            <dd>06/06/1996 at 12:00:00</dd>

            <dt>Expiry date</dt>
            <dd>{{objAssetModel.ExpiryDate}}</dd>
        </dl>

        <dl class="dl-horizontal m-b-1">
            <dt>Commodities</dt>
            <dd>Gemstones except diamond</dd>

            <dt>Location</dt>
            <dd>Kenya, Taita / Taveta</dd>

            <dt>Official area</dt>
            <dd>0.5000km<sup>2</sup></dd>
        </dl>
    </div>
</form>