<div class="dropdown dropdown-scale">
	<a href="#" class="btn btn-secondary" data-toggle="dropdown">Filter</a>

	<div class="dropdown-menu dropdown-menu-white">
		<h3>Show all licenses where</h3>
		<div class="form-group">
			<select name="" class="form-control" *ngIf="SearhFilters != null">
        <option *ngFor="let searhFilter of SearhFilters.Filters" [value]="searhFilter.PropertyID">{{searhFilter.PropertyName}}</option>
      </select>
		</div>
		<div class="form-group">
			<select name="" class="form-control">
                                      <option value="">Select a value</option>
                                      <option value="active">Active</option>
                                      <option value="active">Inactive</option>
                                  </select>
		</div>
		<button class="btn btn-success btn-lg m-t-1">Add filter</button>
	</div>
</div>