<div class="dropdown dropdown-scale">
	<a href="#" class="btn btn-secondary" data-toggle="dropdown">Filter</a>

	<div class="dropdown-menu dropdown-menu-white">
		<h3>Show all licenses where</h3>
		<div class="form-group">
			<select name="" class="form-control" *ngIf="SearhFilters != null">
        <option *ngFor="let searhFilter of SearhFilters.Filters" [value]="searhFilter.PropertyID">{{searhFilter.PropertyName}}</option>
      </select>
		</div>
		<div class="form-group">
			<select name="" class="form-control" (change)="onPropertySelectionChanged($event.target.value)">
				<option *ngFor="let filter of SearchFilters.Filters" value="{{filter.PropertyID}}">{{filter.PropertyName}}</option>
			</select>
		</div>
		<div class="form-group" *ngIf="SelectedPropertyID != '*'">
			<select name="" class="form-control">
				<option *ngFor="let dropDownValue of this.SelectedProperty.DropDownValues" value="{{dropDownValue.Values}}">{{dropDownValue.Text}}</option>
			</select>
		</div>
		<button class="btn btn-success btn-lg m-t-1">Add filter</button>
	</div>
</div>