<form>
<h3 class="visible-print-block">History</h3>
<div class="table-responsive">
    <table class="table borderless-first-row">
        <thead>
            <tr>
                <th style="width: 400px;">Report due for submission</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="highlight"><strong>License granted</strong></td>
                <td>05/08/2016</td>
            </tr>
            <tr>
                <td class="highlight"><strong>Application fee paid (Kenyan Shiling 50000.00)</strong></td>
                <td>04/11/2016</td>
            </tr>
        </tbody>
    </table>
</div>
</form>
