asset component works
<!--<h1 class="page-title">EL442</h1>

        <div class="card">
            <h3 class="card-header hidden-print">EL442</h3>

            <div class="card-body">
                <div class="tabs">
                    <div class="tabs-menu hidden-print">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#overview" aria-controls="home" role="tab" data-toggle="tab">Overview</a>
                            </li>
                             <li role="presentation">
                                <a href="#map" aria-controls="profile" role="tab" data-toggle="tab">Map &amp; Coordinates</a>
                            </li>
                            <li role="presentation">
                                <a href="#tasks" aria-controls="settings" role="tab" data-toggle="tab">Tasks</a>
                            </li>
                            <li role="presentation">
                                <a href="#payments" aria-controls="messages" role="tab" data-toggle="tab">Make payments</a> <span class="badge badge-warning">1</span>
                            </li>
                            <li role="presentation">
                                <a href="#reports" aria-controls="settings" role="tab" data-toggle="tab">Submit reports</a> <span class="badge badge-danger">2</span>
                            </li> 
                            <li role="presentation">
                                <a href="#history" aria-controls="settings" role="tab" data-toggle="tab">History</a>
                            </li>
                             <li role="presentation">
                                <a href="#downloads" aria-controls="settings" role="tab" data-toggle="tab">Downloads</a>
                            </li> 
                            <li role="presentation">
                                <a href="#comments" aria-controls="settings" role="tab" data-toggle="tab">Comments</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="overview">
                              <asset-details-overview></asset-details-overview>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="history">
                              <asset-details-history></asset-details-history>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="comments">
                            <asset-details-comments></asset-details-comments>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
